name: CICD Pipeline

on:
  push:
    branches: ["main"]

jobs:
  compile:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - name: Build with Maven
        run: mvn -B package --file pom.xml

  security-checks:
    runs-on: self-hosted
    needs: compile

    steps:
      - uses: actions/checkout@v4

      - name: Install Trivy
        run: |
          sudo apt-get update -y
          curl -sfL https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/install.sh | sudo sh -s -- -b /usr/local/bin

      - name: Verify Trivy
        run: trivy --version

      - name: Trivy File System Scan
        run: trivy fs --format json -o fs-report.json .

      - name: Install Gitleaks (Binary non-interactive)
        run: |
          LATEST=$(curl -s https://api.github.com/repos/gitleaks/gitleaks/releases/latest | grep "browser_download_url" | grep "linux_amd64.tar.gz" | head -n 1 | awk -F '"' '{print $4}')
          wget -q $LATEST
          tar -xf gitleaks*linux_amd64.tar.gz
          sudo mv gitleaks /usr/local/bin/
          gitleaks --version

      - name: Gitleaks Scan
        run: gitleaks detect --source . --report-path gitleaks-report.json --format json

      - name: Upload Reports
        uses: actions/upload-artifact@v4
        with:
          name: security-reports
          path: |
            fs-report.json
            gitleaks-report.json

  test:
    runs-on: self-hosted
    needs: security-checks

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - name: Unit test cases
        run: mvn test
